<div class="sidebar1">
    <ul class="nav">
        <li><a href="./index.html">Home</a></li>
        <li><a href="./persona.html">Persona</a></li>
        <li><a href="./scenario.html">Scenario</a></li>
        <li><a href="./wireframes.html">Wireframes</a></li>
        <li><a href="./icons.html">Icons</a></li>
        <li><a href="./logo.html">Logo</a></li>
        <li><a href="./media.html">Dynamic Media</a></li>
        <li><a href="./layouts.html">Layouts</a></li>
        <li><a href="./final/index.html" target="_blank">Final Project</a></li>
    </ul>
    <aside>
        <p>
            CSE/ISE 333 <br>
            Fall 2016   <br>
            Varun Shivakumar
        </p>
    </aside>
</div>